{% extends 'layouts/base.html' %}
{% block content %}

<div class="card w-50 mx-auto">
    {% if puzzle.cover %}
    <img src="{{ puzzle.cover.url }}" class="card-img-top" alt="puzzle-cover">
    {% endif %}
    <div class="card-body">
        <h3 class="card-title">{{ puzzle.title }}</h3>
        <p class="card-text">{{ puzzle.intro }}</p>
        <p class="card-text">{{ puzzle.description }}</p>
        <p class="card-text">{{ puzzle.question }}</p>
    </div>
    <ul class="list-group list-group-flush">
        {% for choice in puzzle.choices.all %}
        <li class="list-group-item">{{ choice }}</li>
        {% endfor %}
    </ul>
    <a href="#" class="btn btn-primary">Submit</a>
</div>



{% endblock content %}